
<div class="background">
    <div class="content">
        <h1 class="red-text">F o o d s &amp; D r i n k s</h1>
                                                          <!-- &amp; called HDML encoding -->
    </div>
 </div>

<div class="background-2">
    <div class="content"></div>
</div>

 <section class="features-container">
    <div class="features">
        <div class="feature text-center">
         <%= fa_icon "globe 5x" %>
       <h6> A Global Communties </h6>
    </div>

    <div class="feature text-center">
        <%= fa_icon "slack 5x" %>
        <h6> This Set of Four Icons </h6>
    </div>

    <div class="feature text-center">
       <%= fa_icon "thumbs-up 5x" %>
       <h6> Lots of effort </h6>
   </div>

    <div class="feature text-center">
       <%= fa_icon "heart 5x" %>
       <h6> Made with Love </h6>
    </div>
  </div>
</section>

<div class="container">
      <div class="image-box">
        <!-- <div class="invisible-layout"> -->
             <%= image_tag "bfast_avocado.jpg", class: "img" %>
       </div>
      <div class="image-box">
           <%= image_tag "salmon_fish.jpg", class: "img" %>
      </div>
      <div class="image-box">
           <%= image_tag "avocado_pesto_spaghetti.jpg", class: "img" %>
     </div>
        <div class="image-box">
           <%= image_tag "bfast_waffer.jpg", class: "img" %>
        </div>
</div>
