
<div class="background">
   <div class="content">
     <h1>feature</h1>
   </div>
 </div>

<div class="background-2">
    <div class="content"></div>
</div>

 <section class="features-container">
    <div class="features">
        <div class="feature text-center">
         <%= fa_icon "globe 5x" %>
       <h4> A Global Communties </h4>
    </div>

    <div class="feature text-center">
      <%= fa_icon "picture-o 5x" %>
      <h4> This Set of Four Icons </h4>
    </div>

    <div class="feature text-center">
     <%= fa_icon "thumbs-up 5x" %>
     <h4> Lots of effort </h4>
   </div>

    <div class="feature text-center">
      <%= fa_icon "heart 5x" %>
      <h4> Made with Love </h4>
    </div>
  </div>
</section>

<div class="container">
      <div class="image-box">
        <div class="invisible-layout">
             <%= image_tag "rose.jpg", class: "img" %>
         </div>
             <h1>1/4 flex-grow</h1>
      </div>
      <div class="image-box">
           <%= image_tag "rose.jpg", class: "img" %>
            <h1>1/4 flex-grow</h1>
      </div>
      <div class="image-box">
           <%= image_tag "rose.jpg", class: "img" %>
            <h1>1/4 flex-grow</h1>
      </div>
      <div class="image-box">
           <%= image_tag "rose.jpg", class: "img" %>
            <h1>1/4 flex-grow</h1>
      </div>
</div>
